form {
    width:550px;
    
}


.search {
    padding:18px 147px;
    background: #fafafa;
    border:0px solid #fafafa;
}
.button {
    position:relative;
    padding:10px 10px;

    border:2px solid rgb(230, 105, 255);
    background-color:rgb(230, 105, 255);
    color:#fafafa;
    float: right;
}
button:hover  {
    background-color:#930ba5;
    color:rgb(241, 7, 171);
}