.homebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.searchbar {
    background-color: #f2a6f5;
}

.title {
    font-weight: bold;
    padding-right: 60px;
}

li {
    float: left;
}


li a {
    font-weight: bold;
    display: block;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

h1 a {
    font-weight: bold;
    display: block;
    color: rgb(151, 16, 122);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

h2 a {
    font-size: 80px;
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

body  {
    background-image: url("./../Images/header.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f2a6f5;
} 