li a {
    font-weight: bold;
    display: block;
    color: rgb(15, 3, 17);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}



h1 a {
    font-weight: bold;
    display: block;
    color: rgb(151, 16, 122);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    display: block;
    color: #000000;;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(173, 203, 247);
}


body  {
    background-image: url("./Images/header.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
    
    
}

.container {
    width: 100%;
    white-space: nowrap;
}

table {

    color: #000000;
    background-color: #acff7c9a;

}

p {
    color:#fffffff5;
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
 }

li a:hover {
    background-color: #acff7c9a;
} 
